img{
  width: 400px;
  height: 400px;
  margin-left: 3px;
}
#container{
  margin-left: 50px;
  margin-top: 20px;
  border: 2px solid black;
  display:inline-block
}
form{
  margin-left: 20px;
  margin-right: 20px;
}
#title{
  margin-left: 20px;
}
p{
  width: 500px;
}